/**
 * @file
 * This file creates the styling for the a elements.
 */

a {
  text-decoration: underline;
  color: $c-primary;
  font-weight: bold;
  &:focus,
  &:hover {
    text-decoration: none;
    color: $c-grey--darkest;
  }
}
